.download-page {
    background: radial-gradient(circle at center, #1a0000 0%, #000000 70%);
    color: #ff3b3b;
}

h2{
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}

.countdown-box{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.countdown-box p{
    font-size: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #e6e1dc;
}

.countdown {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}

.release-message p{
    text-transform: none;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 55px;
    font-weight: bold;
    color: #5b0201;
    text-shadow: 
        0 0 5px #ff0000,
        0 0 15px #990000,
        0 0 25px #660000;
}

.label {
    font-size: 18px;
    color: #e6e1dc;
    margin-top: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@keyframes flicker {
    0% { opacity: 1; }
    5% { opacity: 0.8; }
    10% { opacity: 1; }
    15% { opacity: 0.6; }
    20% { opacity: 1; }
    100% { opacity: 1; }
}

.number {
    animation: flicker 3s infinite;
}

.download-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 18px 50px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #1a0000;
  border: 2px solid #5b0201;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  box-shadow: 
    0 0 5px #ff0000,
    0 0 15px #990000,
    0 0 25px #660000;
  transition: all 0.3s ease;
  animation: flicker 3s infinite;
}

.download-btn:hover {
  box-shadow: 
    0 0 30px #990000,
    0 0 40px #660000;
  transform: scale(1.05);
}